---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 3
TabWidth: 3
UseTab: Never
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 100
PointerAlignment: Right
SpaceAfterCStyleCast: false
SortIncludes: Never
AlignConsecutiveMacros: Consecutive
IndentCaseLabels: false
